<div class="container main">
    <div class="col-sm-12">
        <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        <div class="background-image" style="background-image: url(assets/img/masdubg5.jpg);"></div>
        <div class="col-sm-12" id="inner">
            <div class="container" id="size-banner">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <img id="logo-img" src="assets/img/masdu6.png " alt="Musdo " style="margin-left: 10%;margin-top: 20% ">
                        <blockquote id="quote">
                            Life is a one time offer, use it well.
                            <cite>Jack</cite>
                        </blockquote>
                    </div>
                    <div class="ml" *ngIf="login">
                        <login-form (loginChange)="myValueChange($event);"></login-form>
                    </div>
                    <div class="ml" *ngIf="!login">
                        <register-form (registerSuccess)="registerTrigger($event);" (signupChange)=" myValueChange($event); "></register-form>
                    </div>
                </div>
                <div class="row ">
                </div>
            </div>
        </div>
    </div>
</div>
