<div class="main">
    <div class="page">
        <div class="col-md-3 no-float">
            <div class="row">
                <div class="col-md-12 side-top">
                    <div class="col-md-2" style="height: 45px; background: transparent;">
                        <div class="person">
                            <div>
                                <div class="person-avatarPlaceholder color-1 js-avatarPlaceholder"><span class="js-initials">J
                            </span></div>
                            </div>
                            <div style="padding-left: 10px; color: white" class="person-name js-name">Jack</div>
                        </div>
                    </div>
                    <div class="col-md-10 search-block" style="height: 45px; background: transparent;">
                        <div class="col-md-8" id="search-box">
                            <input type="text" class="form-control no-border input-lg" id="search-input">
                        </div>
                        <div class="col-md-4">
                            <span class="col-md-4 glyphicon glyphicon-search" id="search-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 side-main">
                    <ul class="buckets">
                        <li *ngFor="let bucket of bucketlist" [class.selected]="bucket === selectedBucket" (click)="onSelect(bucket)">
                            <i class="fa fa-list-ul" aria-hidden="true"></i><span class="bucket-name">{{bucket.name}}</span>
                            <div *ngIf="bucket === selectedBucket" class="bucket-ops">
                                <p style="font-size: 10px">10</p>
                                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="side-main-bottom">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <p>Create New Bucket List</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 no-float">
            <div class="row">
                <div class="col-md-12 content-top">
                    <span id="title" *ngIf="selectedBucket">{{selectedBucket.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-md-12 input-group input-group-lg" id="add-item">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-plus" style="color: white;"aria-hidden="true"></i></span>
                            <input style="background: #7a98c6;color: white;" type="text" class="form-control" placeholder="Add a Bucket Item" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 items">
                            <ul class="col-md-12 bucket-items" *ngIf="selectedBucket">
                                <li *ngFor="let bucketitem of selectedBucket.items">
                                    <div class="col-md-12" id="add-box">
                                        <i id="bucket-checkbox" class="fa fa-square-o fa-lg" aria-hidden="true"></i>
                                        <p id="bucket-item-name">{{bucketitem.name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default" id="showcompleted">
                        <div class="panel-body">
                            SHOW COMPLETED TO-DO'S
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
