<div class="main">
    <div class="page">
        <div class="col-md-3 no-float">
            <div class="row">
                <div class="col-md-12 side-top">
                    <div class="col-md-2" style="height: 45px; background: transparent;">
                        <div class="person">
                            <div>
                                <div class="person-avatarPlaceholder color-1 js-avatarPlaceholder"><span class="js-initials">{{username.charAt(0)}}
                            </span></div>
                            </div>
                            <div style="padding-left: 10px; color: white" class="person-name js-name">{{username}}</div>
                        </div>
                    </div>
                    <div class="col-md-10 search-block" style="height: 45px; background: transparent;">
                        <div class="col-md-8" id="search-box">
                            <input type="text" class="form-control no-border input-lg" id="search-input">
                        </div>
                        <div class="col-md-4">
                            <!-- <span class="col-md-4 glyphicon glyphicon-search" id="search-icon"></span> -->
                            <i class="material-icons md-24 md-light">search</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 side-main">
                    <ul class="buckets">
                        <li *ngFor="let bucket of bucketlist; let i = index" [class.selected]="bucket === selectedBucket" (click)="onSelect(bucket,i)">
                            <i class="fa fa-list-ul" aria-hidden="true"></i><span class="bucket-name">{{bucket.name}}</span>
                            <div *ngIf="bucket === selectedBucket" class="bucket-ops">
                                <p style="font-size: 10px">{{itemcount}}</p>
                                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="side-main-bottom">
                        <i class="material-icons md-24 blue">add</i>
                        <p>Create New Bucket List</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 no-float">
            <div class="row">
                <div class="col-md-12 content-top">
                    <span id="title" *ngIf="selectedBucket">{{selectedBucket.name}}</span>
                </div>
            </div>
            <div class="row scrollable">
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-md-12 input-group input-group-lg" id="add-item">
                            <input #item (keyup.enter)="addItem(item.value,item)" type="text " class="form-control " placeholder="Add a Bucket Item" autofocus>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 items ">
                            <ul class="col-md-12 bucket-items " *ngIf="selectedBucket">
                                <!-- <item-component *ngFor="let bucketitem of selectedBucket.items | undoneitems: selectedBucket.items"
                                [bucketitem]="bucketitem">
                                </item-component> -->
                                <li *ngFor="let bucketitem of selectedBucket.items | undoneitems: selectedBucket.items" [class.editing]="editMode">
                                    <div #viewitem class="view" [class.completed]="bucketitem.done">
                                        <input class="toggle" type="checkbox" (click)="toggle(bucketitem)" [checked]="bucketitem.done">
                                        <label #labelitem (dblclick)="enterEditMode(todoItemInput,  labelitem,todoItemInput.value)">{{bucketitem.name}}</label>
                                        <button (click)="deleteItem(bucketitem)" class="destroy"></button>
                                    </div>
                                    <input class="edit" [value]="bucketitem.name" #todoItemInput (keyup.enter)="commitEdit(todoItemInput.value,todoItemInput, labelitem)" (keyup.escape)="cancelEdit(todoItemInput, labelitem)" (blur)="commitEdit(todoItemInput.value,todoItemInput, labelitem,bucketitem)">
                                </li>
                                <!-- <li [class.editing]="editMode">
                                    <div class="view" [class.completed]="bucketitem.done">
                                        <input class="toggle" type="checkbox" (click)="toggle(bucketitem)" [checked]="bucketitem.done">
                                        <label (dblclick)="enterEditMode(todoItemInput)">{{bucketitem.name}}</label>
                                        <button (click)="deleteItem(bucketitem)" class="destroy"></button>
                                    </div>
                                    <input class="edit" [value]="bucketitem.name" #todoItemInput (keyup.enter)="commitEdit(todoItemInput.value)" (keyup.escape)="cancelEdit(todoItemInput)" (blur)="commitEdit(todoItemInput.value)">
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div (click)="showCompleted()" class="panel panel-default" id="showcompleted">
                        <div class="panel-body">
                            SHOW COMPLETED ITEMS
                        </div>
                    </div>
                    <div [hidden]="!visible" class="col-md-12 ">
                        <ul class="col-md-12 completed-items " *ngIf="selectedBucket ">
                            <li *ngFor="let bucketitem of selectedBucket.items | doneitems: selectedBucket.items">
                                <div *ngIf="bucketitem.done" class="row view-done" [class.completed]="bucketitem.done">
                                    <div class="col-md-1">
                                        <input class="toggle-done" type="checkbox" [checked]="bucketitem.done" (click)="toggle_done(bucketitem)">
                                    </div>
                                    <div class="col-md-10">
                                        <label (dblclick)="enterEditMode(todoItemInput)">{{bucketitem.name}}</label>
                                        <p>{{bucketitem.date_updated}} by {{username}}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <i (click)="deleteItem(bucketitem)" class="fa fa-trash-o fa-lg" aria-hidden="true" style="float: right; margin-right: 20px; color:#8B8273; margin-top: 15px;cursor: pointer;"></i>
                                        <!-- <button (click)="deleteItem(bucketitem)" class="destroy2"></button> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
