@font-face {
    font-family: login_font;
    src: url(assets/fonts/proxima-reg.otf);
}

span {
    font-family: login_font;
}

.space {
    flex: 1 1 auto;
}

.panel-heading {
    background-color: rgb(30, 95, 134);
}


.panel-title {
    color: white;
}

.panel {
    /*background-color: transparent;*/
    margin-top: 10%;
}

.ng-valid[required] {
    border-left: 10px solid #42A948;
    /* green */
}

.ng-invalid {
    border-left: 10px solid #a94442;
    /* red */
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
